package components


templ Content() {
    <p class="header">
        Efficient, Secure and Fully  
        Supported
    </p>
    <p class="body">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantum doloremque laudantium
    </p>
}