package components


templ Description() {
    <div class="description">
        <p class="header">
            Great Software
        </p>
        <p class="body">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantum doloremque laudantium 
        </p>
    </div>
}