package components


templ Efficient() {
    <div class="efficient">
        <div class="logo">
            <i class="fa-solid fa-gears"></i>
        </div>
        <div class="description">
            <p class="header">
                Efficient
            </p>
            <p class="body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantum doloremque.
            </p>
        </div>               
    </div>
}