package components


templ Secure() {
    <div class="secure">
        <div class="logo">
            <i class="fa-solid fa-shield-halved"></i>
        </div>
        <div class="description">
            <p class="header">
                Secure
            </p>
            <p class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
        </div>
    </div>
}