package components


templ Support() {
    <div class="support">
        <div class="logo">
            <i class="fa-solid fa-headset"></i>
        </div>
        <div class="description">
            <p class="header">
                Great Support
            </p>
            <p class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
}